<h1>Users</h1>

<ul [@listStagger] = "usersOnline$">
  <li *ngFor="let user of usersOnline$">
    <a routerLink="/details/{{user.id}}" (click)='onlineUserClick()'>{{ user.name }}</a>

    <ul>
      <li>{{ user.email }}</li>
      <li>
        <a href="http://{{user.website}}"> {{ user.website }}</a>
      </li>
    </ul>
  </li>

</ul>
<ul [@listStagger] = "usersLocal$">
  <li *ngFor="let lUser of usersLocal$" >
    <a routerLink='/details/{{lUser.empId}}' (click)='onlocalUserClick()'> {{ lUser.empName }}</a>
    <ul>
      <li>{{ lUser.job }}</li>
      <li> {{lUser.hiredate | date:'longDate'}} </li>

    </ul>
  </li>
</ul>
